.vscode/**
.vscode-test/**
src/**
.gitignore
.prettierrc
.prettierignore
tsconfig.json
tsup.config.ts
bun.lockb
**/*.map
**/*.ts
.git/**
.github/**
CLAUDE.md
.claude/**
*.vsix
node_modules/.cache/**
node_modules/.vite/**